div.card {
    border: 1px solid orange;
    border-radius: .25rem;
    padding: 15px;
}

a.button {
    background-color: darkorange;
    border: 1px solid orangered;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .25rem;
    text-decoration: none;
    color: inherit;
}

a:hover {
    background-color: orangered;
}

