<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twilio configuration</title>
</head>
<body>
<h1>Twilio configuration</h1>
<hr />
<form action="{% url 'twilioconfig:configure' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="sid" placeholder="SID" value="{{ config.sid }}">
    <input type="password" name="token" placeholder="Token" value="{{ config.sid }}">
    <button>Submit</button>
</form>
<hr />
{% if error %}
{{ error }}
{% endif %}
</body>
</html>
